.component5
{
    background-color: black;
  width: 100%;
  height: 646px;
  margin-top: 107px;
  overflow-x: hidden;
}
.content2-info2
{
    padding-left: 522px;
    padding-top: 140px;
}
.content2-info2 h1
{
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: -1.256410002708435px;
    text-align: left;
    width: 475px;
height: 65px;
color:#ffffff;

}
.content2-info2 p
{
    font-family: "DM Sans", sans-serif;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.502564013004303px;
text-align: center;
width: 463px;
height: 168px;
top: 106px;
opacity: 0.6;
color: #ffffff;


}
.button3 {
    width: 209px;
    height: 70px;
    border: 5px solid black; /* Set border color same as background */
    border-top-right-radius: 20px; /* Top right corner rounded */
    background-color:#FFAC12;
    ;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.42717939615249634px;
    text-align: left;
    color: black;
    padding-left: 40px;
    font-weight: bold;
    margin-left:120px;
}

.button3 img
{
    width: 20px;
height: 9.63px;
margin-left:10px;
}

.rect
{
    padding-left: 100px;
}
.client-content
{
  padding-left: 560px;
  padding-top: 200px;
  width: 372px;
height: 186px;
}
.client-content p{
    font-family: "DM Sans", sans-serif;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.6030767560005188px;
text-align: left;
font-weight: bold;
}
.client-content img{
    width: 361px;
height: 4px;
top: 4868px;
left: 552px;

}
.button4
{
width: 336px;
height: 141px;
background-color: white;
border: none;
margin-left: 150px;
margin-right: auto;
position: relative;
overflow: hidden;
}
.button4 p
{
    color: black;
    font-family: "DM Sans", sans-serif;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.37692299485206604px;
text-align: left;
font-weight: bold;
padding-left: 57px;
  margin-top: -41px;
  position: relative;
}
.button4 img{
    margin-left: -276px;
}
.button4 span{
    font-family: "DM Sans", sans-serif;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.37692299485206604px;
text-align: left;
color: #979797;
position: relative;

}
.button4:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3; /* Adjust opacity as needed */
    z-index: 0; /* Ensure it's behind the content */
}

@media (max-width: 500px) {
    .content2-info2 {
        padding: 5px;
        margin-left: -42px;
    }

    .content2-info2 h1 {
        font-size: 33px;
        line-height: 32px;
        padding-left: 97px;
        margin-top: 18px;
      }

    .content2-info2 p {
        font-size: 15px;
        line-height: 20px;
        padding-left: -20px;
        text-align: center;
        margin-left: 31px;
        padding-top: -40px;
        margin-top: -13px;
      }
    .component5
    {
        height: auto;
        width: auto;
    }
    .button3{
        margin-top: -50px;
        margin-left: 136px;
    }
    .rect
    {
        padding-left: 103px;
    }

    .client-content {
      padding-left: 0;
      padding-top: 50px;
      width: auto;
      height: auto;
    }
  
    .client-content p {
        width: auto;
        height: auto;
        margin-left: 6px;
        font-size: 15px;
        text-align: center; /* Align para to the right */
    }
    .button4 {
        width: 130px;
        height: auto;
        margin-left: 5px;
        padding-bottom: 43px;
        margin-top: 41px;
         /* Add space between elements */
      }
      
      .button4 p {
        width: auto;
        font-size: 10px;
        text-align: right;
        margin-top: -28px;
        margin-left: -41px;
        margin-right: 10px; /* Reset margin */
      }
      
      .button4 img {
        width: 27px;
        height: 25px;
        margin-left: -64px; /* Reset margin */
      }
      .button4 span
    {
        font-size: 11px;
        margin-left: -106px;
        margin-right: 28px;
    }
     .client-content img{
  
        width: 361px;
        height: 4px;
        margin-left: 28px;
     }

  }
  @media (max-width: 900px) {
    .content2-info2 {
        padding: 5px;
        margin-left: -42px;
    }

    .content2-info2 h1 {
        font-size: 33px;
        line-height: 32px;
        padding-left: 97px;
        margin-top: 18px;
      }

    .content2-info2 p {
        font-size: 15px;
        line-height: 20px;
        padding-left: -20px;
        text-align: center;
        margin-left: 31px;
        padding-top: -40px;
        margin-top: -13px;
      }
    .component5
    {
        height: auto;
        width: auto;
    }
    .button3{
        margin-top: -50px;
        margin-left: 136px;
    }
    .rect
    {
        padding-left: 103px;
    }

    .client-content {
      padding-left: 0;
      padding-top: 50px;
      width: auto;
      height: auto;
    }
  
    .client-content p {
        width: auto;
        height: auto;
        margin-left: 6px;
        font-size: 15px;
        text-align: center; /* Align para to the right */
    }
    .button4 {
        width: 130px;
        height: auto;
        margin-left: 5px;
        padding-bottom: 43px;
        margin-top: 41px;
         /* Add space between elements */
      }
      
      .button4 p {
        width: auto;
        font-size: 10px;
        text-align: right;
        margin-top: -28px;
        margin-left: -41px;
        margin-right: 10px; /* Reset margin */
      }
      
      .button4 img {
        width: 27px;
        height: 25px;
        margin-left: -64px; /* Reset margin */
      }
      .button4 span
    {
        font-size: 11px;
        margin-left: -106px;
        margin-right: 28px;
    }
     .client-content img{
  
        width: 361px;
        height: 4px;
        margin-left: 28px;
     }

  }